# loopplayer.service
[Unit]
Description=Digital Signage Loop Player (mpv)
After=sound.target

[Service]
User=pi
Environment=XDG_RUNTIME_DIR=/run/user/1000
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=tty
ExecStartPre=/bin/sh -c '/usr/bin/setterm -blank 0 -powerdown 0 -cursor off < /dev/tty1 > /dev/tty1 || true'
ExecStart=/usr/bin/python3 /home/pi/loop-videos/loop_videos.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target